<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
  </div>

  <div class="col-md-4">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{restaurant.opening_hours}}</li>
        <li><strong>Tel:</strong> {{restaurant.tel}}</li>
        <li><strong>Address:</strong> {{restaurant.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>{{restaurant.description}}</p>
  </div>
  <hr>
</div>

<hr>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>