<h1>餐廳後台</h1>
<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex">
    <a href="/admin/restaurants">Restaurants</a>
    <div class="mx-2">|</div>
    <a href="/admin/categories">Categories</a>
    <div class="mx-2">|</div>
    <a {{#if users }}class="font-weight-bold" {{/if}} href="/admin/users">Users</a>
  </div>
  <div>
    
  </div>
</div>
<br />
<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">email</th>
      <th scope="col">Role</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody class="table-body">
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td class="users-table-email">{{ this.email }}</td>
      <td class="">{{#if this.isAdmin}}admin{{else}}user{{/if}}</td>
      <td class="text-left">
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          <div class="custom-control custom-switch">
            <input {{#if this.isAdmin}} checked {{/if}} type="checkbox"
              class="custom-control-input authority-switch-{{#if this.isAdmin}}user{{else}}admin{{/if}}"
              id="customSwitch-{{this.id}}" name="switch" onChange="this.form.submit()">
            <label class="custom-control-label" for="customSwitch-{{this.id}}"></label>
          </div>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>