<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
</ul>
<br /><br />
<h1>最新動態</h1>
<hr />
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新餐廳
      </div>
      <div class="card-body">
        {{#each restaurants}}
        <div>
          <h4>
            <a href="/restaurants/{{this.id}}">{{this.name}}</a>
            <small>{{this.Category.name}}</small>
          </h4>
          <p>{{this.description}}</p>
          {{moment this.createdAt}}
          <hr>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新評論
      </div>
      <div class="card-body">
        {{#each comments}}
        <div>
          <h4>
            <a href="/restaurants/{{this.Restaurant.id}}">{{this.Restaurant.name}}</a>
          </h4>
          <p>{{this.text}}</p>
          by <a href="/users/{{this.User.id}}">{{this.User.name}}</a>
          at {{moment this.createdAt}}
          <hr>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>