<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>
  </li>
  {{#each categories}}
  <li class="nav-item">
    <a class="nav-link {{#ifCond this.id  ../categoryId}}active{{/ifCond}}" href="?categoryId={{this.id}}">{{this.name}}</a>
  </li>
  {{/each}}
</ul>
<br />
<div class="row">
  {{#each restaurants}}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">
      <div class="card-body">
        <p class="card-text">
          <a href="/restaurants/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <span class="badge badge-secondary">{{this.categoryName}}</span>
        <p class="card-text">{{this.description}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<br />
<br />