<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px;margin-bottom: 25px;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{restaurant.opening_hours}}</li>
        <li><strong>Tel:</strong> {{restaurant.tel}}</li>
        <li><strong>Address:</strong> {{restaurant.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>{{restaurant.description}}</p>
  </div>
  <hr>
</div>
<br />
<br />
<form action="/comments" method="POST">
  <div class="form-group">
    <label for="text">留下評論：</label>
    <textarea class="form-control" id="text" name="text" rows="3"></textarea>
  </div>
  <input type="hidden" name="restaurantId" value="{{restaurant.id}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="javascript:history.back()">回上一頁</a>